@import (less) "~@getable/lato/index.css";
@import "~font-awesome/less/font-awesome";
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #f6f6f6;
  cursor: default;
  font-family: 'Lato', Times, serif;
  padding-top: 5rem;
}

.container {
  min-height: 100%;
}
